body {
    width: 1920px;
    height: 1750px;
    margin: 0;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}
.d-flex {
    display: flex;
}
.header {
    padding-top: 57px;
    background: url(./img/man_boat.jpg) no-repeat;
}

.nav {
    align-items: center;
    margin-left: 890px;
    padding-bottom: 210px;
}

.btn:hover {
    cursor: pointer;
}

.button__buy__black {
    width: 193px;
    height: 42.46px;
    background: #262C27;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 96px;
    border: none;
}

.button__buy__black:hover {
    background: #FFFFFF;
    color: #262C27;
    border: 2px solid #262C27;
    box-shadow: inset 0px 0px 20px 4px rgba(232, 239, 240, 1);
}

.phone {
    margin-left: 100px;
    font-size: 20px;
    color: #262C27;
}

.ray_air_pocket {
    width: 548px;
    color: #FFFFFF;
    margin-left: 970px;
    margin-bottom: 80px;
}

.ray_air_pocket p {
    font-size: 24px;
    text-align: center;
}

.pocket_title {
    font-size: 64px;
}

.freedom {
    margin-top: -550px;
    margin-left: 636px;
}

.free, .dom {
    font-weight: 400;
    font-size: 130px;
    color: #0093A1;
    opacity: 0.3;
}

.dom {
    width: 787px;
    text-align: end;
}

.free_small_for_big {
    align-items: center;
}

.small_for_big {
    width: 350px;
    padding-left: 88px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #0093A1;
}

main {
    background: url(./img/man_on_board.jpg) no-repeat;
}

.about_pocket_edition {
    padding-top: 104px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.about_pocket_edition p, .play {
    width: 290px;
}

.pocket_discription_1 {
    padding-top: 157px;
    padding-right: 87px;
}

.play {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 82px;
}

.play_video {
    text-align: end;
}
.pocket_discription_2 {
    border-bottom: 1px solid #FFFFFF;
    padding-top: 158px;
}

.RayAirPocket_1 {
    margin-top: -33px;
    padding-left: 80px;
}

.specs {
    padding-top: 605px;
}

.title {
    font-size: 60px;
    font-weight: 400;
}

.specs_title {
    padding-top: 103px;
    padding-right: 162px;
    color: #FFFFFF;
}

.specification {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.specification ul {
    list-style: none;
}

.chars {
    padding-left: 70px;
}

.pocket_kit {
    padding-top: 300px;
}

.pocket_kit_features {
    width: 510px;
    background: url(./img/price_star.svg) no-repeat;
    background-position-x: 280px;
    background-position-y: 680px;
}

.kit_title {
    color: #0093A1;
}

h6 {
    font-family: 'Inter'; 
    font-weight: 700;
    font-size: 18px;
    color: #262C27;
}

.pocket_kit_features p {
    padding-bottom: 25px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
}

.button__buy__blue {
    width: 484px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 2px solid #0093A1;
    font-size: 40px;
    color: #0093A1;
    background-color: #FFFFFF;
}

.button__buy__blue:hover {
    background: #eff3f3;
    box-shadow: inset 0px 0px 20px 4px rgba(179, 239, 245, 1);
}

.samples {
    padding-left: 70px;
}

.oars {
    padding-top: 240px;
}

.case, .board {
    padding-top: 180px;
}

.microtechnology {
    background: url(./img/two_on_boards.png) no-repeat;
    padding-bottom: 150px;
}

.about_technology {
    width: 377px;
    padding-left: 356px;
}
.tecynology_list {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #262C27;
    padding-bottom: 190px;
}

span {
    opacity: 0;
}
.play_again_technology {
    width: 100px;
    flex-direction: column;
    align-items: center;
    padding-top: 640px;
    padding-left: 1100px;
    padding-bottom: 154px;
}

.about_construction {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #262C27;
}

.border {
    width: 782px;
    height: 880.92px;
    margin-bottom: 150px;
    margin-left: 70px;
    border: 3px solid #262C27;
    border-radius: 200px 0px 300px;
}

.floating_photos {
    padding-top: 165px;
}

.beginer {
    padding-top: 72px;
    padding-left: 31px;
}

.girls {
    padding-left: 31px;
}

.injoy_your_life{
    margin-left: 360px;
}

.injoy {
    width: 300px;
    height: 270px;
    background: #0093A1;
    border: 1px solid #0093A1;
    border-radius: 0px 0px 0px 200px;
}

.injoy_title {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 56px;
}

.layer_1, .layer_2 {
    padding-top: 20px;
}

.contact_us {
    height: 989px;
    width: 1920px;
    background: #262C27;
    padding-top: 50px;
}

.contact_us_header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 37px;
}

.contact_us_title {
    font-weight: 400;
    font-size: 60px;
    color: #FFFFFF;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
input {
    width: 500px;
    height: 65px;
    background-color: #262C27;
    border-top: 1px solid #262C27;
    border-right: 1px solid #262C27;
    border-left: 1px solid #262C27;
    border-bottom: 1px solid #6f7470;
    padding: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #c7cec8;
}

input::placeholder {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #c7cec8;
    opacity: 0.6;
}

input:focus {
    outline: none;
}

.button_send_white {
    width: 193px;
    height: 42px;
    background: #FFFFFF;
    font-size: 20px;
    color: #000000;
    border: none;
}

.button_send_white:hover {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: inset 0px 0px 20px 4px rgba(212, 212, 212, 1);
}

.instagram {
    font-family: 'Inter';
    font-weight: 700; 
    font-size: 18px;
    color: #FFFFFF;
}

.instagram_photos {
    justify-content: space-between;
    padding-bottom: 48px;
    padding-top: 30px;
}

.footer_nav {
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
}

.footer_nav a {
    color: #FFFFFF;
}